body {
  font-family: Helvetica;
  letter-spacing: 0.5px;
  background: #44A;
  color: #111;
}

h1 {
  color: white;
}

textarea {
  color: white;
  background: #111;
  opacity: 10%;
}

textarea:focus {
  opacity: 100%;
}